<%= render 'shared/navbar' %>

<div class="container">
  <br><br>
  <h5>We have found these organisms</h5>
  <br>
    <% @organisms.each do |organism| %>
      <div class="card-list human">
        <%=image_tag "organisms/human_1.png" %>
        <div class="container" style="margin:20px">
                <ul style="list-style-type:none;" >
                  <h1> <%= organism.name %></h1>
                  <li> <h2> body temperature:<%= organism.body_temperature %> °C</h2> </li>
                  <li> <h2> age: <%= organism.age %></h2></li>
                  <li> <h2>species: <%= organism.species %></h2></li>
                  <%= link_to 'show', organism_path(organism), class: "btn btn-primary" %>
                  <!-- <li> user id: <%= organism.user_id %></li> -->
                </ul>
        </div>
      </div>
    <% end %>
</div>
