<%= render 'shared/navbar' %>


<%= link_to "Back to all organisms", organisms_path, class: "btn btn-primary px-3 mt-3 ml-3" %>
</div>

<% if @organism.species == "pet" %>

<div class="card-show pet mt-4 mx-auto px-5">
  <i class="fas fa-kiwi-bird mt-5 mb-5 ml-3" style="font-size: 250px;"></i>



  <div class="mt-4 ml-4">
    <h1 ><%= @organism.name %>, <%= @organism.species %>, <%= @organism.age %> </h1>
    <h2>Hello I am <%= @organism.name %> </h2>
    <h2> I am a <%= @organism.species %> </h2>
    <h2> I am <%= @organism.age %> years old and <%= @organism.body_temperature %> ° is my body temperature </h2>
    </div>
  <div class="form-wrapper mt-5 ml-4" style="width: 400px;">
    <h2>Choose the dates to infect</h2>
    <%= simple_form_for [ @organism, @infection ] do |f| %>
      <%= f.input :infection_start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :infection_end, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Infect", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% elsif @organism.species == "human" %>

<div class="card-show human mt-4 mx-auto px-5">
  <i class="fas fa-walking mt-5 mb-5 ml-3" style="font-size: 250px;"></i>
  <div class="mt-4 ml-4">
    <h1 ><%= @organism.name %>, <%= @organism.species %>, <%= @organism.age %> </h1>
    <h2>Hello I am <%= @organism.name %> </h2>
    <h2> I am a <%= @organism.species %> </h2>
    <h2> I am <%= @organism.age %> years old and <%= @organism.body_temperature %> ° is my body temperature </h2>
    </div>

  <div class="form-wrapper mt-5 ml-4" style="width: 400px;">
    <h2>Choose the dates to infect</h2>
    <%= simple_form_for [ @organism, @infection ] do |f| %>
      <%= f.input :infection_start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :infection_end, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Infect", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% else  %>

<div class="card-show plant mt-4 mx-auto px-5">
  <i class="fab fa-pagelines mt-5 mb-5 ml-3" style="font-size: 250px;"></i>
  <div class="mt-4 ml-4">
    <h1 ><%= @organism.name %>, <%= @organism.species %>, <%= @organism.age %> </h1>
    <h2>Hello I am <%= @organism.name %> </h2>
    <h2> I am a <%= @organism.species %> </h2>
    <h2> I am <%= @organism.age %> years old and <%= @organism.body_temperature %> ° is my body temperature </h2>
    </div>
  <div class="form-wrapper mt-5 ml-4" style="width: 400px;">
    <h2>Choose the dates to infect</h2>
    <%= simple_form_for [ @organism, @infection ] do |f| %>
      <%= f.input :infection_start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :infection_end, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Infect", class: "btn btn-primary" %>
    <% end %>
    <% end %>
  </div>
</div>


<% if flash[:alert] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:alert] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


