<%= render 'shared/navbar' %>

<%= link_to "Back to all organisms", organisms_path, class: "btn btn-primary px-3 mt-3 ml-3" %>
</div>

<div class="card-show human mt-4 mx-auto px-5">
  <%=image_tag "organisms/human_1.png", class: "mt-3 ml-3"%>
  <!-- cl_image_tag-->
  <div class="mt-4 ml-4">
    <h1 ><%= @organism.name %>, <%= @organism.species %>,<%= @organism.age %> </h1>
    <h2>Hello I am <%= @organism.name %> </h2>
    <h2> I am a <%= @organism.species %> !</h2>
    <h2> I am <%= @organism.age %> years old and <%= @organism.body_temperature %> ° is my body temperature </h2>
    </div>
</div>



