
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon " >
  <%= link_to root_path, class: "navbar-brand ml-4" do %>
  <%=image_tag "logo.png"%>
  <h1 style="font-family: Poppins">CONTAGION</h1>
    <% end %>
  <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">

          <%=image_tag "avatar.png", size: '100%xauto', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h4 style="padding-left: 5px;">Hi Virus</h4>
            <%= link_to "My infections", "/infections", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>

  </div>
  </ul>
</div>

