<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Include following two lines to work with 'Select2'  (see: https://select2.org/getting-started/installation)-->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>

  <!-- Initialize values for the Input Fields -->
  <%
    @species = []
    body_temperatures = []
    ages = []
    Organism.all.each do |organism|
      @species << organism.species unless @species.include?(organism.species)
      body_temperatures << organism.body_temperature unless body_temperatures.include?(organism.body_temperature)
      ages << organism.age unless ages.include?(organism.age)
    end
    @species.sort!
    body_temperatures.sort!
    ages.sort!

    @min_body_temperature = body_temperatures.first
    @max_body_temperature = body_temperatures.last
    @mid_body_temperature = (@min_body_temperature + @max_body_temperature) / 2

    @min_age = ages.first
    @max_age = ages.last
    @mid_age = (@min_age + @max_age) / 2
  %>

  <!-- Display the Search Queries and a 'Reset Search' button if the current organisms get filtered -->
  <% unless params[:search_name].blank? &&
            params[:search_species].blank? &&
            params[:search_body_temperature].blank?
  %>
    <!-- Search Queries -->
    <div class="search_info">
      <p>
        <% unless params[:search_name].blank? %>
          Name: <%= params[:search_name] %>
         <br>
         <% end %>
        <% unless params[:search_species].blank? %>
          Species: <%= params[:search_species].join(', ') %>
         <br>
         <% end %>
        <% unless params[:search_body_temperature].blank? %>
          Maximum Body Temperature: <%= params[:search_body_temperature] + '°C'%>
          <br>
        <% end %>
        <% unless params[:search_age].blank? %>
          Maximum Age: <%= params[:search_age] + ' Years'%>
        <% end %>
      </p>
    </div>

    <!-- Reset Button: Go back to Index Page (without search query) -->
    <%= link_to 'Reset Search', organisms_path, class: "btn btn-primary" %>

  <% end %>

  <div class="searchbar_container">
  <!-- Search Form -->
    <%= form_tag organisms_path, method: :get do %>

      <!-- Searchfield: Name -->
      <%#= text_field_tag :search_name,
        params[:search_name],
        class: "form-control",
        placeholder: "Find an organism"
      %>

      <!-- Searchfield: Species -->
      <%= label_tag :search_species, 'Species' %>
      <%= select_tag :search_species,
        options_for_select(@species),
        options = { multiple: true, class: "select2" }
      %>

      <!-- Searchfield: Body Temperature -->
      <%= label_tag :search_species, 'Max Body Temperature' %>
      <%= range_field_tag :search_body_temperature,
      params[:search_body_temperature],
      options = {
        min: @min_body_temperature,
        max: @max_body_temperature,
        oninput: "document.getElementById('body-temperature-output').value = this.value + '°C'"
        }
      %>
      <%  value = params[:search_body_temperature].blank? ? @mid_body_temperature : params[:search_body_temperature]%>
      <output id="body-temperature-output"> <%= value.to_s + '°C' %> </output>

      <!-- Searchfield: Age -->
      <%= label_tag :search_age, 'Max Age' %>
      <%= range_field_tag :search_age,
      params[:search_age],
      options = {
        min: @min_age,
        max: @max_age,
        oninput: "document.getElementById('age-output').value = this.value + ' Years'"
        }
      %>
      <%  value = params[:search_age].blank? ? @mid_age : params[:search_age]%>
      <output id="age-output"> <%= value.to_s + ' Years' %> </output>

      <!-- Submit Button-->
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

</body>
</html>
