<%= render 'shared/navbar' %>

<%= link_to "Back to search", organisms_path %>

<h3> Here are all your infections</h3>

<% @infections.each do |infection| %>
  <h4><%= infection.organism.name %></h4>
    <ul>
      <li> body temperature: <%= infection.organism.body_temperature %> °C</li>
      <li> age: <%= infection.organism.age %></li>
      <li> species: <%= infection.organism.species %></li>
    </ul>
  <p>infection period: <%= infection.infection_start %> - <%= infection.infection_end %></p>
  <%= link_to "Cancel Infection", cancel_infection_path(infection), method: :patch %>
  </div>
<% end %>
