<%= render 'shared/navbar' %>


<div class="btn-dashboard" >
<%= link_to "My infections", infections_path, id: "btn-1" %>
<%= link_to "My organisms", dashboard_path, id: "btn-2" %>
</div>

<h5 class="mt-5 ml-5" style="text-align: center">These are your infections</h5>

<div class="cards-grid mx-5 mt-5">
  <%# @infections_sorted = @infections.sort_by {|i| i.infection_start} %>
  <% @infections_sorted.each do |infection| %>
    <% if infection.infection_start < Date.today && infection.infection_end < Date.today %>
      <% point_in_time = "past" %>
    <% elsif infection.infection_start <= Date.today && infection.infection_end >= Date.today  %>
      <% point_in_time = "current" %>
    <% else %>
      <% point_in_time = "future" %>
    <% end %>

    <div class="card-infection <%= point_in_time %> card-<%= infection.status %>">

      <% if infection.organism.species == "pet" %>
        <%= image_tag "organisms/pet_1.png"%>
      <% elsif infection.organism.species == "human" %>
        <%= image_tag "organisms/human_1.png"%>
      <% else %>
        <%= image_tag "organisms/plant_1.png"%>
      <% end %>

      <div class="card-infection-infos">
        <h2><%= infection.organism.name %>, <%= infection.organism.species %></h2>
        <p>
          <%= infection.status %> <%= point_in_time %> infection
          <br>
          <%= infection.infection_start %> - <%= infection.infection_end %>
          <br>
          <% if infection.status == "active" %>
            <%= link_to "Cancel Infection", cancel_infection_path(infection), method: :patch, class: "btn btn-primary" %>
          <% end %>
        </p>
      </div>

    </div>
  <% end %>
</div>
